

body {
    background: url(http://localhost/Starcraft-Team/Imagenes/raynor2.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #B45F04   ;
}

#logosc2{
    position: absolute;
    top:250px;
    left: 220px;
}

li a{
    text-align: center;
}

#tabs{
    position: absolute;
    top:550px;
    left:400px;
    width: 910px;
    height: 600px;
}


#tabs .ui-tabs-nav {
	height: 2.35em;
        background-color: #044143;
	
}
#tabs .ui-tabs-nav li {
	display: inline-block;
	float: none;
	margin: 0em;
        
}

#tabs .ui-tabs-nav li a {
	width: 250px;
        font-size: 20px;
        font-weight: bold;   
}

#tabs .ui-tabs-panel{
    background-color: #042743;
    color: white;
    font-family: Calibri;
    font-weight: bold;
    font-size: 25px;
    height: 505px;
}


#footer{
    position: absolute;
    top: 1000px;
}

#blizzard{
    position:relative;
    left: 500px;
    top: 140px;
}

#wcg{
    position:relative;
    left: 1850px;
    top: -50px;
}

#footerp{
    position: relative;
    color: #979896;
    font-size: 25px;
    top: 50px;
    left: 950px;
}

#login{
 position: relative;
 top:50px;
 
}

/*log-in--------------------------------------*/
#loginTabla{
    position: relative;
    left:10px;
    top:50px;
    color: white;
    font-family: Calibri;
    font-size: 25px;
}
#loginTabla tr{
    height: 90px;
}
/*olvido la contraseña--------------------------------------*/
#cont{
    position: relative;
    left:130px;
    top:100px;
}
#botonEnviar{
    position: absolute;
    left: 150px;
    top: 130px;
}
/*registrarse--------------------------------------*/
#registrarseTabla{
    position: relative;
    left:10px;
    top:50px;
    color: white;
    font-family: Calibri;
    font-size: 25px;
    border: none;
}
#registrarseTabla tr{
    height: 70px;
}
#volverCliente{
    position: absolute;
    left: 1260px;
    top: 470px;
}